
h2 {
    width: 100px;
    height: 30px;
    background-color: goldenrod;

    padding: 20px 20px;
    font-style: ;
    border: 30px red solid;
    border-color: brown;

    margin: 20px 40px;


    
}
/* section span {
    background-color: rebeccapurple;
} */